body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  height: 100%;
  padding: 0;
  margin: 0;
}

main {
  overflow: scroll auto;
  overflow-x: hidden;
  flex: 1 1 auto;
  margin: 20px 0;
}
